.center {
    text-align: center;
}

p br {
    line-height: 20px;
}

body {
    background-color: #00a5bb;
}

#divMain {
    text-align: center;
    line-height: 250%;
    font-weight: bold;
}

#postBackInfo {
    height: 90px;
    width: 1900px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

#btnNew {
    width: 250px;
    height: 50px;
}